/* Add CSS Styling */
p.odd-number{
    background-color: rgb(243, 144, 161);
    font-family: Verdana,"DejaVu San",sans-serif;
}
div#second-element{
    color: #0000ff;
    font-size: 36px;
}
p.third-element{
    font-size: 24px;
}
div#fourth-element{
    background-color: hsl(120, 77%, 76%);
    font-size: 24px;
    font-weight: bold;
}